@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Outfit", sans-serif;
}
.login{
    background-image: url(./assets/images/signup.jpeg);
    background-position: top;
}
.hero{
    background-image: url(./assets/images/hero.jpeg);
    background-position:center;
}
.logo{
    height: 48px;
    width: 48px;
    background: #4BA586;
    color: white;
    border-radius: 50%;
    font-size: 22px;
    font-size: Poppins;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-text{
    font-family: Poppins;
    font-weight: 500;
    font-size: 28px;
    color: white;
}